
@font-face {
    font-family: encabezados;
    src: url('../../assets/fonts/encabezados.woff2');
  }
  @font-face {
    font-family: amatic;
    src: url('../../assets/fonts/amatic.woff2');
  }
  
  
  
  * ion-title{
    font-family: amatic;
    font-size: 40px;
    text-align: center;
  
  }

  * ion-thumbnail img {
    width: 100px;
    height: 70px;
  }

  .texto-musica p {
    font-size: 15px;
    font-family: amatic;
    font-weight: 600;
    letter-spacing: 1px;
  }

  .texto-musica h2 {
    font-size: 30px;
    font-weight: 800;
    font-family: amatic;
  }

  .votos {
    vertical-align: middle
  }

 